.background
{
    width: 100%;
    height: 100vh;

    overflow-x: hidden;

    background: url("../../assets/homeGrad.jpg");
}
.background_layer
{
    width: 100%;
    height: 100%;

    background:  rgba(18, 18, 18, .75);
    box-sizing: border-box;

    position: relative;
    padding: 15px;
}

.home_top
{
    display: flex;
}
.menu
{
    width: 250px;
    height: calc(100vh - 165px);

    margin-bottom: 25px;

    background: rgba(50, 50, 50, 0.75);
    /*-webkit-backdrop-filter: blur(5px);*/
    /*backdrop-filter: blur(5px);*/
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 30px;
}
.menu_top img
{
    width: 58px;
    margin-bottom: 5px;
}
.menu ul
{
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li
{
    width: 100%;
    height: 50px;

    background: #3B3B3B;
    box-sizing: border-box;
    border-radius: 12px;

    margin-top: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
}
.menu ul .diff_li
{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .45);
}
.menu ul li:nth-child(5),
.menu ul li:last-child
{
    display: none;
}
.menu ul li a
{
    width: 100%;

    color: #FFFFFF;
    text-decoration: none;

    padding: 0 15px;

    display: flex;
    align-items: center;

    font-size: 15px;
    gap: 11px;
}
.menu ul li a ion-icon
{
    font-size: 23px;
}
.menu ul li a ion-icon#add_playlist
{
    font-size: 19px;
    padding: 3px 5px;

    border-radius: 5px;
    background: #25DC60;
}
.menu ul li a ion-icon#heart
{
    font-size: 29px;
    color: red;
}
.playlists
{
    display: block !important;
    height: 210px !important;
    padding: 0 15px;
}
.playlists .playlists_title
{
    padding: 12px 0 15px;
    font-size: 15.5px;
}
.playlists div
{
    height: 140px;
    overflow-y: auto;
}
.playlists div::-webkit-scrollbar
{
    width: 4px;
}
.playlists div::-webkit-scrollbar-track
{
    background: #1E1E1E;
}
.playlists div::-webkit-scrollbar-thumb
{
    background: #25DC60;
    border-radius: 4px;
}
.playlists div a
{
    width: 100%;
    height: fit-content;

    display: block;

    font-size: 13px !important;
    opacity: .85;

    margin-top: 11px;
    padding: 0 !important;
}
.playlists div a:first-child
{
    margin-top: 0;
}
.playlists div a:hover
{
    opacity: 1;
}

.home_container
{
    flex: 1;
    margin-left: 25px;
}
.top_bar
{
    width: 100%;
    height: 78px;

    background: rgba(50, 50, 50, 0.75);
    /*-webkit-backdrop-filter: blur(5px);*/
    /*backdrop-filter: blur(5px);*/
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    margin-bottom: 20px;
}
.search
{
    display: flex;
    align-items: center;

    gap: 10px;
}
.search input
{
    width: 400px;
    height: 45px;

    background: #1E1E1E;
    border-radius: 25px;
    border: none;

    font-size: 14.5px;
    padding: 0 30px;
}
.search button
{
    width: 45px;
    height: 45px;

    background: #171717;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}
.search button ion-icon
{
    font-size: 20px;
}
.user_link
{
    width: 45px;
    height: 45px;
}
.user_link img
{
    width: 100%;
    height: 100%;

    border-radius: 25px;
}
.default_avatar
{
    width: 100%;
    height: 100%;

    background: #4b4b4b;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.default_avatar img
{
    width: 32px;
    height: 32px;
}
.top_bar_title
{
    display: none;
}

.content
{
    flex: 1;
    height: calc(100vh - 113px);
    overflow-y: auto;
}
.content::-webkit-scrollbar
{
    width: 0;
}
.content::-webkit-scrollbar-track
{
    background: transparent;
}
.content::-webkit-scrollbar-thumb
{
    background: #1E1E1E;
    border-radius: 4px;
}

.player_location
{
    width: 98%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 15px;

    display: flex;
    align-items: end;
}


@media (max-width: 450px) {

    .background_layer
    {
        background:  rgba(18, 18, 18, .75);
    }

    .menu
    {
        width: 100%;
        height: fit-content;

        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;

        background: rgba(0, 0, 0, .15);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border-radius: 10px 10px 0 0;

        margin-bottom: 0;
        padding: 92px 70px 30px;
    }
    .menu_top
    {
        display: none;
    }
    .menu ul
    {
        display: flex;
        justify-content: space-between;
    }
    .menu ul li
    {
        height: auto;
        width: fit-content;

        background: transparent;
        border-radius: 0;

        margin: 0;
    }
    .menu ul li.diff_li
    {
        border: none;
        display: none;
    }
    .menu ul li:nth-child(5),
    .menu ul li:last-child
    {
        display: block;
    }
    .menu ul li.playlists
    {
        display: none !important;
    }
    .menu ul li a
    {
        padding: 0;
    }
    .menu ul li a ion-icon
    {
        font-size: 30px;
        opacity: .7;

        pointer-events: none;
    }
    .menu ul li a ion-icon#menu_heart
    {
        font-size: 34px;
    }
    .menu ul li a span
    {
        display: none;
    }

    .home_container
    {
        margin-left: 0;
    }
    .top_bar
    {
        height: fit-content;
        background: transparent;

        margin-bottom: 30px;
        padding: 18px 0 0;

        position: relative;
        z-index: 4;
    }
    .search,
    #button_for_logout
    {
        gap: 0;
        order: 3;
    }
    .search input
    {
        display: none;
    }
    .search button
    {
        width: fit-content;
        height: fit-content;
        background: transparent;
    }
    .search button ion-icon
    {
        font-size: 28px;
        opacity: .85;
    }
    .user_link
    {
        width: 40px;
        height: 40px;
        order: 1;
    }
    .user_link img
    {
        width: 100%;
        height: 100%;

        border-radius: 25px;
    }
    .default_avatar
    {
        width: 100%;
        height: 100%;

        background: #4b4b4b;
        border-radius: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .default_avatar img
    {
        width: 30px;
        height: 30px;
    }
    .top_bar_title
    {
        display: block;
        order: 2;

        font-size: 23px;
        font-weight: 500;

        color: #FFFFFF;
    }
    #go_back_button
    {
        font-size: 28px;
        color: #FFFFFF;
        opacity: .7;
    }
    #button_for_logout
    {
        font-size: 30px;
        color: #FFFFFF;
        opacity: .85;
    }

    .content
    {
        height: calc(100vh - 103px);
    }

}