.song_add_container
{
    height: 100vh;

    background: #181818;
    box-sizing: border-box;

    padding: 20px 16px;
}
.song_add_background
{
    width: 100%;
    height: 100%;

    background: #121212;
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 50px 0;

    overflow-y: auto;
}

.title_cont
{
    text-align: center;
    /*margin: 0 0 40px;*/
}
.title
{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 3px;
}
.subtitle
{
    font-size: 15.5px;
    color: rgba(255, 255, 255, .8);
}

.song_cover
{
    width: 340px;
    height: 340px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #3B3B3B;
    border-radius: 10px;

    margin-bottom: 30px;

    cursor: pointer;
}
.song_cover input
{
    display: none !important;
}
.song_cover label
{
    position: absolute;
    left: 0;
    top: 0;

    cursor: pointer;

    width: 100%;
    height: 100%;
}
.song_cover img
{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    object-fit: cover;
}

.song_container button
{
    margin-top: -10px;
}