.playlists_back
{
    margin-bottom: 150px;

    display: flex;
    flex-direction: column;
}
.playlists_title
{
    font-size: 25px;
    color: #FFFFFF;
}
.playlists_description
{
    width: 100%;
    text-align: center;
    display: none;

    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;

    opacity: .6;
}

.playlists_list
{
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(5, 0fr);
    justify-content: space-between;

    gap: 30px;
}
.playlist_item
{
    width: 215px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    text-decoration: none;

    position: relative;
}
.playlist_item.create_playlist_item
{
    display: none;
}
.playlist_add_img
{
    width: 215px;
    height: 215px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #3B3B3B;
    border-radius: 15px;
}
.playlist_add_img ion-icon
{
    font-size: 110px;
    --ionicon-stroke-width: 21px;
    color: rgb(128, 128, 128);
}
.playlist_item img
{
    width: 215px;
    height: 215px;

    border-radius: 15px;
}
.playlist_item_info
{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.playlist_item_info span:first-child
{
    font-size: 14px;
    color: #FFFFFF;

    margin-top: 10px;
}
.playlist_item_info span:last-child
{
    font-size: 12.5px;
    font-weight: 300;

    color: #FFFFFF;
    opacity: .8;

    margin-top: 3px;
    display: none;
}
#playlist_item_open_btn
{
    display: none;

    position: absolute;
    right: 0;

    color: #FFFFFF;
    font-size: 24px;

    opacity: .6;
}


@media (max-width: 450px) {

    .playlists_back
    {
        margin-bottom: 180px;
    }
    .playlists_title
    {
        display: none;
    }

    .playlists_list
    {
        display: block;
    }
    .playlist_item
    {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        margin-bottom: 15px;
        gap: 15px;
    }
    .playlist_item.create_playlist_item
    {
        display: flex;
    }
    .playlist_add_img
    {
        width: 75px;
        height: 75px;

        border-radius: 10px;
    }
    .playlist_add_img ion-icon
    {
        font-size: 40px;
        --ionicon-stroke-width: 25px;
    }
    .playlist_item img
    {
        width: 75px;
        height: 75px;

        border-radius: 10px;
    }
    .playlist_item_info span:first-child
    {
        font-size: 15.5px;
        margin: 0;
    }
    .playlist_item_info span:last-child
    {
        display: block;
    }
    .playlists_description,
    #playlist_item_open_btn
    {
        display: block;
    }

}