.background
{
    width: 100%;
    height: 100vh;

    background: #121212;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header
{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 30px 45px;
}
.logo
{
    width: 55px;
}

.title
{
    font-size: 115px;
    font-weight: 600;

    background-image: linear-gradient(to right, #1DDB62, #EFFE06);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    margin-top: -90px;
}
header ul
{
    display: flex;
    gap: 40px;
    list-style: none;
}
.git_link
{
    font-size: 23px;
    color: #FFFFFF;

    text-decoration: none;
}

.model
{
    width: fit-content;
    position: relative;

    margin-bottom: -155px;
}

.shapes
{
    display: flex;
    align-items: end;

    position: relative;
    z-index: 1;
}
.shape_f
{
    width: 530px;
    height: 530px;

    background: linear-gradient(to right, #1B1E58, #5BA29B);
    box-shadow: 0 0 200px #1c2750;
    border-radius: 50%;
}
.shape_s
{
    width: 390px;
    height: 390px;

    background: linear-gradient(to right, #d72154, #ff7620);
    box-shadow: 0 0 100px #d74c18;
    border-radius: 50%;

    margin-left: -135px;
    margin-bottom: 10px;
}
.shapes:nth-child(2)
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    margin-top: 520px;
}
.shapes:nth-child(2) .shape_f,
.shapes:nth-child(2) .shape_s
{
    width: 530px;
    height: 530px;
    opacity: .8;
}
.shapes:nth-child(2) .shape_f
{
    box-shadow: 50px -450px 500px rgba(3, 20, 52, .5),
    80px -500px 300px rgba(23, 159, 185, .25),
    110px -350px 500px rgba(0, 0, 0, .1);
}
.shapes:nth-child(2) .shape_s
{
    box-shadow: 0 -400px 500px rgba(91, 0, 43, .5),
    -100px -400px 500px rgba(213, 39, 32, .3);
}

.model img
{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    z-index: 2;

    width: 515px;
    margin-bottom: 130px;
}

.adv_l
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    margin-left: -182px;
    margin-top: -35px;

    color: #A4A3A3;

    font-size: 28px;
    line-height: 1.4;
}
.adv_l span
{
    background-image: linear-gradient(to right, #FE6603, #882139, #1f2e64);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.adv_c
{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    z-index: 4;

    color: #fff;

    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 400;

    margin-top: 200px;

    white-space: nowrap;
}
.adv_r
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    margin-right: -135px;
    margin-top: 58px;

    color: #A4A3A3;

    font-size: 28px;
    line-height: 1.2;
}
.adv_r span
{
    background-image: linear-gradient(to right, #1DDB62, #EFFE06);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.sign_buttons
{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    z-index: 4;

    display: flex;
    align-items: center;

    margin-bottom: 32px;
    gap: 20px;
}
.link_sign_in,
.link_sign_up
{
    height: 50px;
    width: 145px;

    background: #25DC60;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    font-weight: 500;

    color: #fff;
    text-decoration: none;

    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.link_sign_up
{
    background: rgba(82, 82, 82, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


@media (max-width: 450px) {

    header
    {
        padding: 30px 20px;
    }
    .logo
    {
        width: 48px;
    }
    header ul
    {
        gap: 25px;
    }
    .git_link
    {
        font-size: 19px;
    }

    .title
    {
        font-size: 98px;
        margin-top: -120px;
    }

    .adv_l,
    .adv_r
    {
        display: none;
    }
    .adv_c
    {
        width: 353px;
        text-align: center;
        white-space: normal;

        opacity: .85;

        font-size: 32px;

        padding: 0 20px;
        margin-top: -150px;

        z-index: 0;
    }

    .shapes
    {
        display: flex;
        align-items: end;

        position: relative;
        z-index: 1;
    }
    .shape_f
    {
        width: 560px;
        height: 560px;
    }
    .shape_s
    {
        width: 420px;
        height: 420px;
    }
    .shapes:nth-child(2)
    {
        margin-top: 530px;
    }

    .model img
    {
        width: 550px;
        margin-bottom: 140px;
    }

    .sign_buttons
    {
        width: 100%;

        display: block;
        margin-bottom: 40px;
    }
    .link_sign_in,
    .link_sign_up
    {
        height: 60px;
        width: 78%;

        border-radius: 30px;
        font-size: 23px;

        color: #fff;
        text-decoration: none;

        box-shadow: 0 0 15px rgba(0, 0, 0, .2);

        margin: 0 auto 15px;
    }

}