.background
{
    width: 100%;
    height: 100vh;

    background: #121212;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header
{
    width: 100%;
    height: 200px;
}

.title
{
    font-size: 140px;
    font-weight: 600;

    background-image: linear-gradient(to right, #1DDB62, #EFFE06);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    margin-top: -150px;
}

.model
{
    width: fit-content;
    position: relative;

    margin-bottom: -130px;
}

.shapes
{
    display: flex;
    align-items: end;

    position: relative;
    z-index: 1;
}
.shape_f
{
    width: 580px;
    height: 580px;

    background: linear-gradient(to right, #1B1E58, #5BA29B);
    box-shadow: 0 0 200px #1c2750;
    border-radius: 50%;
}
.shape_s
{
    width: 420px;
    height: 420px;

    background: linear-gradient(to right, #e5275d, #ff6c0f);
    box-shadow: 0 0 150px #d74c18;
    border-radius: 50%;

    margin-left: -135px;
    margin-bottom: 10px;
}
.shapes:nth-child(2)
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    margin-top: 20px;
}
.shapes:nth-child(2) .shape_f,
.shapes:nth-child(2) .shape_s
{
    width: 580px;
    height: 580px;
    opacity: 1;
}
.shapes:nth-child(2) .shape_f
{
    box-shadow: 0 -500px 1000px #052241;
}
.shapes:nth-child(2) .shape_s
{
    box-shadow: 0 -500px 1000px rgba(147, 27, 68, 0.54);
}

.model img
{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    z-index: 2;

    width: 580px;
    margin-bottom: 130px;
}

.sign_buttons
{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    z-index: 4;

    display: flex;
    align-items: center;

    margin-bottom: 50px;
    gap: 20px;
}
.link_sign_in,
.link_sign_up
{
    height: 58px;
    width: 160px;

    background: #25DC60;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: 500;

    color: #fff;
    text-decoration: none;

    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.link_sign_up
{
    background: rgba(98, 98, 98, 0.2);
    backdrop-filter: blur(5px);
}

.adv_l
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    margin-left: -325px;
    margin-top: -15px;

    color: #A4A3A3;

    font-size: 32px;
}
.adv_l span
{
    background-image: linear-gradient(to right, #FE6603, #5A3941, #1f2e64);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.adv_c
{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    z-index: 4;

    color: #fff;

    font-size: 50px;
    font-weight: 400;

    margin-top: 221px;

    white-space: nowrap;
}
.adv_r
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    margin-right: -110px;
    margin-top: 55px;

    color: #A4A3A3;

    font-size: 32px;
    line-height: 1.23;
}
.adv_r span
{
    background-image: linear-gradient(to right, #1DDB62, #EFFE06);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}